<button class="test" (click)="get()"> GET </button>
<button class="test" (click)="post()" style="margin-left: 200px"> POST </button>
<div class="topnav" id="myTopnav">
	<a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
	<a routerLink="/contract/">Contract</a>
	<a routerLink="/i18n/">i18n</a>
	<a routerLink="/ticket/">Ticket</a>
	<a routerLink="/ajax/">Ajax</a>
	<a routerLink="/help/">help</a>
	<a routerLink="/user/">Users</a>
	<a routerLink="user/details" routerLinkActive="active">User Details</a>
	<a routerLink="/sudhir/">404 Page</a>
	<a class="icon" onclick="myFunction()"><i class="fa fa-bars"></i></a>
</div>
<section id="sidebar">
	<div class="inner">
		<nav>
			<ul>
				<li>
					<a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact:true}">
					Welcome
					</a>
				</li>
				<li><a routerLinkActive="active" routerLink="contract">contract</a></li>
				<li><a routerLinkActive="active" routerLink="i18n">i18n</a></li>
				<li><a routerLinkActive="active" routerLink="ticket">ticket</a></li>
				<li><a routerLinkActive="active" routerLink="ajax">Ajax</a></li>
				<li><a routerLinkActive="active" routerLink="help">help</a></li>
				<li>
					<a routerLinkActive="active" routerLink="user" [routerLinkActiveOptions]="{exact:true}">
					users
					</a>
				</li>
				<li>
					<a routerLinkActive="active" [routerLink]="['user', 'details']" [routerLinkActiveOptions]="{exact:true}">
						User Details
					</a>
				</li>
				<li><a routerLinkActive="active" routerLink="sudhir">404 Page</a></li>
			</ul>
		</nav>
	</div>
</section>
			<div id="wrapper" style="display:block">
				<router-outlet></router-outlet>
				<!-- sudhir component -->
				<!-- user component -->
				<!-- dashboard component -->
			</div>
<footer id="footer" class="wrapper style1-alt"  style="display:block">footer goes here</footer>
<style>
  .test{
    position: absolute;
    top: 10%;
    left: 40%;
    background: red;
    z-index: 99999999;
  }
</style>
