<div class="a">this is header</div>
<div class="b mh">
	<ul>
		<li><a [routerLink]="'/'" :name="'sudhir'">Home</a></li>
		<li><a :routerLink="/sudhir/" routerLinkActive="active">page 2 using (:)</a></li>
		<li><a routerLink="/ganga/" routerLinkActive="active">ganga 2 using ([routerLink])</a></li>
		<li><a [routerLink]="['/user/', 'details']" routerLinkActive="active">user/details</a></li>
		<li><a routerLink="/404" routerLinkActive="active">404</a></li>
	</ul>
</div>
<div class="c mh">
	<router-outlet></router-outlet>
</div>


<style>
.a{
	height:100px; width:100%; background-color:red;
}
.b{
	width: 20%;
    background-color: plum;
    float: left;
}
.c{
	width: 80%;
    background-color: #dddcdc;
    float: right;
}
.mh{
    min-height: 600px;
}
.active{
font-weight:bold;
color:white;
}
</style>