<section id="intro" class="wrapper style1 fullscreen fade-up">
<div class="inner">
<h1>Contract</h1>
<p>List of All contract will appear here.</p>


<img src="assets/img/cnrt.png" style="max-width: 100px;float: left;margin-right: 25px;" />

<table style="width:80%">
<tr>
<td>
  <button (click)="ajax()">Sample Ajax</button>
</td>
<th>&nbsp; OR </th>
<th class="gId">
  <input type="text" [(ngModel)]="gitUserName" placeholder="Your git username" /> {{ gitUserName }}
</th>
<th>
&nbsp;<button (click)="gitUserDeails()">Fetch Data</button>
</th>
</tr>
</table>
<br />
<table border="1" class="result">
  <tr *ngFor="let each of contracts | keyvalue">
    <td> {{ each.key }}</td> <td> {{ each.value }}</td>
  </tr>
</table>
<div *ngIf="contracts" class="jsn">
  {{ contracts | json }}
</div>
</div>
</section>
<style>
.jsn{
  font-size: 12px;
  color: #ffffff82;
  line-height: 19px;
  float: left;
}
.result{
  border:1px solid!important;
}
td:first-child {
  width: 150px;
}
.gId{
  max-width:200px;
}
.localeWrapper div{
  float:left;
}
</style>