<section class="wrapper style1 fullscreen fade-up" id="intro">
    <div class="inner">
        <h1>User Table</h1>
        <p>Search | Filter | Short | Pagination</p>
        <div class="hero-callout">
            <div class="dataTables_wrapper" id="example_wrapper">
                <div class="dataTables_filter" id="example_filter">
                    <label>Search:
                        <input aria-controls="example" placeholder="" style="color:green" type="search">
                    </label>
                </div>
                <table aria-describedby="example_info" class="display nowrap dataTable dtr-inline collapsed" id="example" role="grid" style="width: 100%;">
                    <thead>
                        <tr role="row">
                            <th aria-controls="example" aria-label="Name: activate to sort column descending" aria-sort="ascending" class="sorting_asc" colspan="1" rowspan="1" style="width: 119px;" tabindex="0">Name
                            </th>
                            <th aria-controls="example" aria-label="Position: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 192px;" tabindex="0">Position
                            </th>
                            <th aria-controls="example" aria-label="Office: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 89px;" tabindex="0">Office
                            </th>
                            <th aria-controls="example" aria-label="Age: activate to sort column ascending" class="dt-body-right sorting" colspan="1" rowspan="1" style="width: 34px;" tabindex="0">Age
                            </th>
                            <th aria-controls="example" aria-label="Start date: activate to sort column ascending" class="sorting" colspan="1" rowspan="1" style="width: 79px;" tabindex="0">Start date
                            </th>
                            <th aria-controls="example" aria-label="Salary: activate to sort column ascending" class="dt-body-right sorting" colspan="1" rowspan="1" style="width: 0px; display: none;" tabindex="0">Salary
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="odd" role="row">
                            <td class="sorting_1" style="" tabindex="0">Airi Satou</td>
                            <td>Accountant</td>
                            <td>Tokyo</td>
                            <td class=" dt-body-right">33</td>
                            <td>2008/11/28</td>
                            <td class=" dt-body-right" style="display: none;">$162,700</td>
                        </tr>
                        <tr class="even" role="row">
                            <td class="sorting_1" tabindex="0">Angelica Ramos</td>
                            <td>Chief Executive Officer (CEO)</td>
                            <td>London</td>
                            <td class=" dt-body-right">47</td>
                            <td>2009/10/09</td>
                            <td class=" dt-body-right" style="display: none;">$1,200,000</td>
                        </tr>
                        <tr class="odd" role="row">
                            <td class="sorting_1" tabindex="0">Ashton Cox</td>
                            <td>Junior Technical Author</td>
                            <td>San Francisco</td>
                            <td class=" dt-body-right">66</td>
                            <td>2009/01/12</td>
                            <td class=" dt-body-right" style="display: none;">$86,000</td>
                        </tr>
                        <tr class="even" role="row">
                            <td class="sorting_1" tabindex="0">Bradley Greer</td>
                            <td>Software Engineer</td>
                            <td>London</td>
                            <td class=" dt-body-right">41</td>
                            <td>2012/10/13</td>
                            <td class=" dt-body-right" style="display: none;">$132,000</td>
                        </tr>
                        <tr class="odd" role="row">
                            <td class="sorting_1" tabindex="0">Brenden Wagner</td>
                            <td>Software Engineer</td>
                            <td>San Francisco</td>
                            <td class=" dt-body-right">28</td>
                            <td>2011/06/07</td>
                            <td class=" dt-body-right" style="display: none;">$206,850</td>
                        </tr>
                        <tr class="even" role="row">
                            <td class="sorting_1" tabindex="0">Brielle Williamson</td>
                            <td>Integration Specialist</td>
                            <td>New York</td>
                            <td class=" dt-body-right">61</td>
                            <td>2012/12/02</td>
                            <td class=" dt-body-right" style="display: none;">$372,000</td>
                        </tr>
                        <tr class="odd" role="row">
                            <td class="sorting_1" tabindex="0">Bruno Nash</td>
                            <td>Software Engineer</td>
                            <td>London</td>
                            <td class=" dt-body-right">38</td>
                            <td>2011/05/03</td>
                            <td class=" dt-body-right" style="display: none;">$163,500</td>
                        </tr>
                        <tr class="even" role="row">
                            <td class="sorting_1" tabindex="0">Caesar Vance</td>
                            <td>Pre-Sales Support</td>
                            <td>New York</td>
                            <td class=" dt-body-right">21</td>
                            <td>2011/12/12</td>
                            <td class=" dt-body-right" style="display: none;">$106,450</td>
                        </tr>
                        <tr class="odd" role="row">
                            <td class="sorting_1" tabindex="0">Cara Stevens</td>
                            <td>Sales Assistant</td>
                            <td>New York</td>
                            <td class=" dt-body-right">46</td>
                            <td>2011/12/06</td>
                            <td class=" dt-body-right" style="display: none;">$145,600</td>
                        </tr>
                        <tr class="even" role="row">
                            <td class="sorting_1" tabindex="0">Cedric Kelly</td>
                            <td>Senior Javascript Developer</td>
                            <td>Edinburgh</td>
                            <td class=" dt-body-right">22</td>
                            <td>2012/03/29</td>
                            <td class=" dt-body-right" style="display: none;">$433,060</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="1" rowspan="1">Name</th>
                            <th colspan="1" rowspan="1">Position</th>
                            <th colspan="1" rowspan="1">Office</th>
                            <th class="dt-body-right" colspan="1" rowspan="1">Age</th>
                            <th colspan="1" rowspan="1">Start date</th>
                            <th class="dt-body-right" colspan="1" rowspan="1" style="display: none;">Salary</th>
                        </tr>
                    </tfoot>
                </table>
                <div aria-live="polite" class="dataTables_info" id="example_info" role="status">Showing 1 to 10 of 57 entries
                </div>
                <div class="dataTables_paginate paging_simple_numbers" id="example_paginate"><a aria-controls="example" class="paginate_button previous disabled" data-dt-idx="0" id="example_previous" tabindex="-1">Previous</a><span><a aria-controls="example" class="paginate_button current"
                                             data-dt-idx="1" tabindex="0">1</a><a aria-controls="example"
                                                                                  class="paginate_button "
                                                                                  data-dt-idx="2"
                                                                                  tabindex="0">2</a><a
          aria-controls="example" class="paginate_button " data-dt-idx="3" tabindex="0">3</a><a aria-controls="example"
                                                                                                class="paginate_button "
                                                                                                data-dt-idx="4"
                                                                                                tabindex="0">4</a><a
          aria-controls="example" class="paginate_button " data-dt-idx="5" tabindex="0">5</a><a aria-controls="example"
                                                                                                class="paginate_button "
                                                                                                data-dt-idx="6"
                                                                                                tabindex="0">6</a></span><a aria-controls="example" class="paginate_button next" data-dt-idx="7" id="example_next" tabindex="0">Next</a>
                </div>
            </div>
        </div>
    </div>
</section>
<link href="//cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet" />
<style>
    .dataTable td {
        color: black !important;
    }
</style>