<section id="ngFor" class="wrapper style1 fullscreen fade-up" style="padding:40px">
    <h1>Tickets</h1>
    <p>List of All tickets will appear here.</p>

    <button (click)="alertMe(12,10)" style="width:200px">Alert me</button>
    ({{ token }}) comming from lib/common.ts<br />
  
    <ul>
      <li *ngFor="let x of names;">{{ x }}</li>
    </ul>
   <select [(ngModel)]="selectedValue">
      <option *ngFor="let item of items;" [value]="item.name">
        {{item.name}}
      </option>
      <option>Some others</option>
      <option>Some others2 </option>
      <option>Some others3 </option>
  </select>

  <div [ngSwitch]="selectedValue">  NG Switch choosen for = :
      <span *ngSwitchCase="'One'">One is Pressed</span>
      <span *ngSwitchCase="'Two'">Two is Selected</span>
      <span *ngSwitchCase="'Three'">Three is Selected</span>
      <span *ngSwitchDefault>Default Option</span>
  </div>
  <div class="inner active">
  <!-- if else -->
    <p *ngIf="1+1==2; else nfBlock">ngif true</p>
    <ng-template #nfBlock>ngElse false</ng-template>
    <br />
  </div>
</section>